.Rectangle {

   height: 64px;
   background-color: #ffffff;
}
.image{
  display: flex;
  align-items: center;
  float:left;
  margin-left: 12%;
  padding-top: 20px;
}
.Rectangle ul {
 float:right;
 padding-top: 20px;
 margin-right: 20%;
}

.Rectangle li {
 display: inline;
 vertical-align: middle;

}

.Rectangle a{
  width: 39px;
   height: 16px;
   font-family: Roboto;
   font-size: 14px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.3px;
   color: #071eb3;
   text-align: center;
    padding: 14px;
    text-decoration: none;
    border-top: 4px solid transparent;
}
 .Rectangle a:hover {
  border-top: 4px solid #071eb3;
}

.Rectangle a .active{
    border-top: 4px solid #071eb3;
}
